@import 'colors.scss';

.convertHeader {
  max-width: 60rem;
  margin: 5rem auto;
  text-align: center;
  color: $darkBlack;
}

.convertForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width:40rem;
  gap: 3rem;
  padding: 2rem;

  @include mq(500px) {
    flex-direction: column;
  }
}