@import 'colors.scss';

.searchBarContainer {
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
  padding: 2rem;
}

.searchBarBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  height: 5.5rem;
  width: 100%;
}

.searchInput .input {
  height: 100%;
  outline: none;
  border: none;
  border-radius: 9px 0 0 9px;
}

.searchInput {
  flex-grow: 1;
}

.input {
  width: 100%;
  padding-left: 1rem;
}

.searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60px;
  padding-bottom: 0.2rem;
  background-color: $yellow;
  cursor: pointer;
  border-radius: 0 9px 9px 0;
}

.searchButton:hover {
  background: $lightYellow;
}

.showResults {
  background-color: $white;
  margin-top: 1rem;
  padding: 1rem 1rem 2rem 2rem;
  text-align: left;
  border-radius: 0.8rem;
}

.searchResultHeader {
  margin: 1rem 0 2rem 0;
}

.searchResultDescription {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.searchResultSubHeading {
  font-weight: 600;
}

.searchInput .autocomBox {
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  background-color: $white;
  box-shadow: 0px 1px 5px 3px $darkGrey;
  pointer-events: none;
  opacity: 0;
}

.searchInput.active .autocomBox {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocomBox li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  background-color: pink;
  //display: none;
}

.searchInput.active .autocomBox li {
  display: block;
}

.autocomBox li:hover {
  background: $lightGrey;
}