@import 'colors.scss';

//Gör så att footern alltid hamnar längst ner
.surroundingContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.surroundAllPages {
  //Gör så att footern alltid hamnar längst ner
  flex: 1;
  //Lika mycket padding till alla sidor
  padding: 2rem;
  //Lägger innehållet i mitten av sidan (utan att centrera texten)
  margin: 0 auto;
}

.backgroundImage {
  @extend .surroundingContainer;
  background-repeat: no-repeat;
  background-size: contain;
}

.backgroundImageStartPage {
  @extend .backgroundImage;
  //background: linear-gradient((180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 39.58%)), url('/images/bgStartPage.svg');
  background: url('/images/bgStartPage.svg');

}


.backgroundImageSubstitute {
  @extend .backgroundImage;
  background: linear-gradient((0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))), url('/images/bgSubstitute.svg'); 
}

.backgroundImageConvert {
  @extend .backgroundImage;
  background: linear-gradient((0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))), url('/images/bgConvert.svg');
}

 

