@import 'colors.scss';

//Gör så att footern alltid hamnar längst ner
.surroundingContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.surroundAllPages {
  //Gör så att footern alltid hamnar längst ner
  flex: 1;
  //Lika mycket padding till alla sidor
  //padding: 2rem;
  //Lägger innehållet i mitten av sidan (utan att centrera texten)
  margin: 0 auto;
}

.backgroundImageStartPage {
  @extend .surroundingContainer;
  background: url('/images/bgStartPage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq(900px) {
    background: url('/images/bgStartPageTablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include mq(600px) {
    background: url('/images/bgStartPageMobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}


.backgroundImageSubstitute {
  @extend .surroundingContainer;
  background: url('/images/bgSubstitute.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq(900px) {
    background: url('/images/bgSubstituteTablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include mq(600px) {
    background: url('/images/bgSubstituteMobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.backgroundImageConvert {
  @extend .surroundingContainer;
  background: url('/images/bgConvert.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq(900px) {
    background: url('/images/bgConvertTablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include mq(600px) {
    background: url('/images/bgConvertMobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

}

 

