@import 'colors.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:  $yellow;
}

.logo {
  background-color: none;
  height: 21.64px;
  width: 50px;
}

.mainMenu {
  display: flex;
}

.nonActivePage,
.activePage {
  display: flex;
  align-items: center;
  color: $bodyBlack;
  text-decoration: none;
  //text-transform: uppercase;
  margin-bottom: -1.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 13px;
  font-weight: 700;
}

.activePage {
  background-color: $headerBlack;
  color: $white;
  border-radius: 0.7rem 0.7rem 0 0;
}