@import 'colors.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:  $yellow;
  //background-color: inherit;
}

.logo {
  background-color: none;
  height: 30px;
  width: 83px;
}

.mainMenu {
  display: flex;
}

.nonActivePage,
.activePage,
.activePage2 {
  display: flex;
  align-items: center;
  color: $bodyBlack;
  text-decoration: none;
  //text-transform: uppercase;
  margin-bottom: -1.5rem;
  padding: 0.9rem 1.5rem;
  font-size: 15px;
  font-weight: 700;
}

.activePage {
  background: linear-gradient((0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)));
  background-color: #73E5EC;
  color: $white;
  border-radius: 0.7rem 0.7rem 0 0;
}

.activePage2 {
  background: linear-gradient((0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)));
  background-color: #e1d23c;
  color: $white;
  border-radius: 0.7rem 0.7rem 0 0;
}