@import 'colors.scss';

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  background-color: $yellow;
}

.footerMail {
  display: block;
  font-weight: 700;
  color: $darkBlack;
  text-decoration: none;
}

.getInTouch {
  text-align: center;
}  

.logo {
  height: 30px;
}