@import 'colors.scss';

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 3rem;
  background-color: $yellow;

  @include mq(600px) {
    display: none;
  }
}

.footerMail {
  display: block;
  font-weight: 700;
  font-size: 1.3rem;
  color: $darkBlack;
  text-decoration: none;
}

.getInTouch {
  text-align: center;
}  

.logo {
  height: 3rem;
}

.color2 {
  font-size: 1.3rem;
}