@import 'colors.scss';

.selectOUT, .selectIN {
  display: flex;
  flex-direction: column;  
  height: 5rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: $lightYellow;
  border: 0rem;

  @include mq(500px) {
    width: 18rem;
    align-self: center;
  }
}

.INPUT, .OUTPUT {
  height: 4.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  border: 0.2rem solid;
  border-color: $lightGrey;

  @include mq(500px) {
    width: 18rem;
    align-self: center;
  }
}



