@import 'colors.scss';

/*
  .buttonIcon {
    height: 40px;
    width: 40px;
  }
*/

  .convertInput,
  .convertOutput {
    height: 4rem;
    padding-left: 1rem;
    border-radius: 0.5rem;

    
  }

  .choice {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 0.5rem;

    @include mq(500px) {
      width: 18rem;
      align-self: center;
    }
  }

  .optionBox {
    height: 4.5rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
  }
   
  #measurements  {
    //height: 480px;
    //width: 260px;
    background-color: #3380ff;
  }

  .helpText {
    color: $yellow;
  }
