@import 'colors.scss';

.pageNotFound {
  display: inline-block;
  padding: 2rem;
  text-align: center;
  background-color: pink;
  border-radius: 0.5rem;
  height: 100%;
}

.goToHomePage {
  display: inline-block;
  margin-top: 4rem;
  padding: 1.5rem;
  text-decoration: none;
  background-color: $headerBlack;
  color: #FFF;
  border-radius: 0.5rem;
}