@import 'colors.scss';

.centerStartPage {
  //background-color: pink;
  padding: 5rem;
  
}

.startTextContainer {
  //background-color: aqua;
  width: 50rem;
  text-align: center;
  margin: auto;

}

.frontText {
  color: $yellow;
}
