@import 'colors.scss';

.clickAlternative {
  background-color: $darkBlack;
  color: $yellow;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  max-width: 40rem;
  border-radius: 0.8rem;
}

.centerStartPage {
  //background-color: pink;
  padding: 25rem;

}

.startTextContainer {
  //background-color: aqua;
  max-width: 70rem;
  text-align: center;
  margin: auto;

}

.frontText {
  color: $darkBlack;
  padding: 1rem;
}

.welcome {
  font-size: 32px;
  font-weight: bold;
  color: $darkBlack;
  padding: 1rem;
}

.missionText {
  color: $darkBlack;
  font-weight: bold;
  padding: 1rem;
}